:root {
  --main-bg-white: #ffffff;
  --main-text-color: #434455;
}

.logo {
  font-family: Raleway;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455; #
  background-color: var(--main-bg-white);
}

.link{
  text-decoration: none;
}

.list-navigation{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.list:hover,
.list:focus {
  color:#404bbf;
}

address {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  color: #434455; 
  font-style: normal;
  letter-spacing: 0.02em;
}

footer {
  background-color: #2e2f42;
}

footer > .logo-studio{
  color:#f4f4fd;
}

.buttons-filter {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-list {
  border: 1px solid #e7e9fc;
}

.p-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero {
  background-color: #2e2f42;
}

.hero > h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 1.1;
  color: #ffffff;
}

.hero-button {
  background: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
}

.team {
  background-color: #f4f4fd;
}

.team-members {
  background-color: #ffffff;
}
